[SddmGreeterTheme]
Name=NixOS
Description=Clean login theme with Linux branding
Author=fabvarisco
Version=1.0
Website=
License=MIT
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
