* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font";
}

#workspaces {
    padding: 0 5px;
    background: transparent;
    margin-top: 5px;
    border-radius: 16px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-radius: 16px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1e1e2e;
    color: #89b4fa;
}

#workspaces button.active {
    background: #1e1e2e;
    color: #89b4fa;
    border-radius: 16px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background: #1e1e2e;
    border-radius: 16px;
    margin: 5px 5px;
}

#clock {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#network {
    color: #f9e2af;
}

#pulseaudio {
    color: #fab387;
}

#pulseaudio.muted {
    color: #f38ba8;
}

#tray {
    background-color: #1e1e2e;
}
