$rad: 4px;

@import "colors";
@import "styling";

* {
  font-family: "JetBrainsMono Nerd Font", "Material Symbols Rounded";
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
}
