/* Gray/black palette */
@define-color background #1a1a1a;
@define-color foreground #e0e0e0;
@define-color color0 #1a1a1a;
@define-color color1 #cc6666;
@define-color color2 #a0a0a0;
@define-color color3 #b0b0b0;
@define-color color4 #666666;
@define-color color5 #888888;
@define-color color6 #808080;
@define-color color7 #d0d0d0;
@define-color color8 #505050;
@define-color color9 #ffffff;

* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
    font-family: "JetBrains Mono Nerd Font";
}

window {
    background-color: alpha(@background, 0.7);
}

button {
    background-color: alpha(@color9, 1);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#lock {
    background-image: image(url("lock.png"));
    margin: 5px 5px 5px 300px;
    padding: 5px;
}

#shutdown {
    background-image: image(url("power.png"));
    margin: 5px 300px 5px 5px;
    padding: 5px;
}

#logout {
    background-image: image(url("logout.png"));
    margin: 5px 300px 5px 5px;
    padding: 5px;
}

#reboot {
    background-image: image(url("restart.png"));
    margin: 5px 5px 5px 300px;
    padding: 5px;
}

#lock:focus {
    margin: 5px 5px 5px 200px;
}

#shutdown:focus {
    margin: 5px 200px 5px 5px;
}

#logout:focus {
    margin: 5px 200px 5px 5px;
}

#reboot:focus {
    margin: 5px 5px 5px 200px;
}

button:focus {
    background-color: alpha(@color5, 1);
    color: #000000;
    background-position: center;
}

button:hover {
    background-color: alpha(@color4, 0.8);
}
